version: "2.1"

services:
  infinitude:
    container_name: infinitude
    hostname: infinitude
    image: nebulous/infinitude:latest
    build:
      context: .
      dockerfile: Dockerfile
    network_mode: host
    ports:
      - "3000:3000"
    volumes:
      - ./state:/infinitude/state
    environment:
      - APP_SECRET=Pogotudinal
      - PASS_REQS=300
      - MODE=Production
      - SERIAL_TTY=/dev/ttyUSB0
#      - SERIAL_SOCKET=192.168.1.47:23
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    restart: always
