<div class="jumbotron">
  <h1><a href="http://www.github.com/nebulous/infinitude">Infinitude</a></h1>
  <p class="lead">
		Carrier/Bryant network thermostat control
  </p>
	<fieldset>
		<legend>Dealer Info</legend>
		<div class="form-group"><label>Name</label><input class="form-control" ng-model="systems.system[0].dealer[0].name[0]" placeholder="Infinitude"></div>
		<div class="form-group"><label>Phone</label><input class="form-control" ng-model="systems.system[0].dealer[0].phone[0]" placeholder="OpenHVAC"></div>
		<div class="form-group"><label>URL</label><input class="form-control" ng-model="systems.system[0].dealer[0].url[0]" placeholder="http://github.com/nebulous/infinitude"></div>
		<div class="form-group"><label>PID</label><input class="form-control" ng-model="systems.system[0].dealer[0].pid[0]" placeholder="123456789"></div>
		<br>
		<button ng-click="save()" class="btn btn-primary">Save</button>
	</fieldset>
</div>
