<div ng-controller="SerialCtrl">
<div class="row">
	<div class="col-md-12">
		<h3>Stream</h3>
		<table class="table table-bordered table-hover">
			<thead>
				<tr class="active">
					<th>src</th>
					<th>dst</th>
					<th>function</th>
					<th>address</th>
					<th>data</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="frame in frames" ng-class="{'ACK06':'success', 'WRITE_TABLE_BLOCK':'warning', 'NACK':'danger'}[frame.Function]">
					<td>{{ frame.SrcClass }}</td>
					<td>{{ frame.DstClass }}</td>
					<td>{{ frame.Function }}</td>
					<td style="white-space: nowrap;">{{ frame.data | limitTo:3 | toHex }}</td>
					<td>{{ (frame.data | strings) || (frame.data | toHex) }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-12">

    <nvd3-line-chart data="history.comboT" tooltips="true" interactive="true"></nvd3-line-chart>
    <nvd3-line-chart data="history.comboS" tooltips="true" interactive="true"></nvd3-line-chart>
    <nvd3-line-chart data="history.coilTemp" tooltips="true" interactive="true"></nvd3-line-chart>
    <nvd3-line-chart
        data="history.outsideTemp"
        showXAxis="true"
        showYAxis="true"
        tooltips="true"
        interactive="true">
    </nvd3-line-chart>

    <nvd3-line-chart
        data="history.blowerRPM"
        showXAxis="true"
        showYAxis="true"
        tooltips="true"
        interactive="true">
    </nvd3-line-chart>

    <nvd3-line-chart data="history.airflowCFM"
        showXAxis="true"
        showYAxis="true"
        tooltips="true"
        interactive="true">
    </nvd3-line-chart>

		<h3>State</h3>
		<style>
			.diff { background-color: #AFA; }
		</style>
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th>Updated</th>
					<th>Device</th>
					<th>Address</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="frame in state | toList | orderBy: ['Function','Device','data|limitTo:3']" ng-class="{'READ_TABLE_BLOCK':'success', 'WRITE_TABLE_BLOCK':'danger', 'ACK06':'warning'}[frame.Function]">
					<td>{{ frame.timestamp*1000 | timeAgo }}</td>
					<td>{{ frame.Device }}</td>
					<td style="white-space: nowrap;">
							{{ frame.data | limitTo:3 | toHex }}
							<p class="text-primary" ng-if="frame.field">{{ frame.field }}</p>
					</td>
					<td style="font-family: monospace">
						<strong ng-bind-html="frame.data | subStr:3 | toHex | markDiff:(frame.history[0]|subStr:3|toHex)"></strong>
						<br /><p class="text-primary" style="white-space: pre">{{ frame.data | strings }}</p>
						<div ng-repeat="log in frame.history track by $index">
							<p ng-if="!$last" ng-bind-html="(log|toHex)|markDiff:(frame.history[$index+1]|toHex)|subStr:9"></p>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
